# Data Exploration

In [31]:
import pandas as pd
df = pd.read_csv("D:\edu\Python\ETL_Project\data_Netflix.csv")
df

,url,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,https://www.netflix.com/title/60000724,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2313221.0,MX
1,https://www.netflix.com/title/1154386,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,516523.0,"AT, CH, DE"
2,https://www.netflix.com/title/60031236,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1220488.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
3,https://www.netflix.com/title/70021659,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,211314.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BE, BG..."
4,https://www.netflix.com/title/1080395,Unforgiven,movie,"Drama, Western",1992.0,tt0105695,8.2,443310.0,"AU, BA, BE, BG, CZ, HR, HU, MD, ME, MK, NZ, PL..."
...,...,...,...,...,...,...,...,...,...
15855,NaN,NaN,tv,"Drama, Mystery",NaN,NaN,NaN,NaN,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
15856,NaN,NaN,tv,NaN,2024.0,NaN,NaN,NaN,"HK, ID, IN, KR, MY, PH, SG, TH"
15857,NaN,NaN,tv,NaN,2024.0,NaN,NaN,NaN,"AL, AO, AU, AZ, BA, BB, BG, BM, BS, BY, BZ, CA..."
15858,NaN,NaN,tv,NaN,NaN,NaN,NaN,NaN,"AG, AO, AR, AU, BB, BM, BO, BS, BZ, CA, CI, CL..."
15859,NaN,The Evolution of Black British Music,tv,"Documentary, Music",2022.0,tt27912029,7.2,16.0,"BM, GB, GG, GI, IE, TC"

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15860 entries, 0 to 15859
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 6702 non-null   object
 1   title               15360 non-null  object
 2   type                15860 non-null  object
 3   genres              15712 non-null  object
 4   releaseYear         15848 non-null  float64
 5   imdbId              15178 non-null  object
 6   imdbAverageRating   15134 non-null  float64
 7   imdbNumVotes        15134 non-null  float64
 8   availableCountries  15860 non-null  object
dtypes: float64(3), object(6)
memory usage: 1.1+ MB

In [33]:
len(df)

15860

In [34]:
df.isnull().sum()

url                   9158
title                  500
type                     0
genres                 148
releaseYear             12
imdbId                 682
imdbAverageRating      726
imdbNumVotes           726
availableCountries       0
dtype: int64

# Removing Nulls

In [35]:
def remove_nulls(df,columns_null): 
    df_cleaned = df.dropna(subset=columns_null).copy()
    return df_cleaned

In [36]:
columns_null = ['title','genres','releaseYear','imdbId','imdbAverageRating','imdbNumVotes']
df_cleaned = remove_nulls(df,columns_null)

In [37]:
df_cleaned.isnull().sum()

url                   8437
title                    0
type                     0
genres                   0
releaseYear              0
imdbId                   0
imdbAverageRating        0
imdbNumVotes             0
availableCountries       0
dtype: int64

In [38]:
len(df_cleaned)

15134

# Replace Nulls

In [14]:
df_cleaned['url'] = df_cleaned['url'].fillna("Unknown")

In [15]:
df_cleaned.isnull().sum()

url                   0
title                 0
type                  0
genres                0
releaseYear           0
imdbId                0
imdbAverageRating     0
imdbNumVotes          0
availableCountries    0
dtype: int64

# Convert from decimal to integer

In [16]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15134 entries, 0 to 15859
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 15134 non-null  object
 1   title               15134 non-null  object
 2   type                15134 non-null  object
 3   genres              15134 non-null  object
 4   releaseYear         15134 non-null  float64
 5   imdbId              15134 non-null  object
 6   imdbAverageRating   15134 non-null  float64
 7   imdbNumVotes        15134 non-null  float64
 8   availableCountries  15134 non-null  object
dtypes: float64(3), object(6)
memory usage: 1.2+ MB

# We Will Convert the datatype of the two columns (releaseYear,imdbNumVotes) from Float to Integer

In [21]:
def convert_to_integer(df,columns_float):
    for i in columns_float:
        df[i]=df[i].astype(int)
    return df
columns_float = ['releaseYear','imdbNumVotes']

In [22]:
df_cleaned = convert_to_integer(df_cleaned,columns_float)

In [23]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15134 entries, 0 to 15859
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 15134 non-null  object
 1   title               15134 non-null  object
 2   type                15134 non-null  object
 3   genres              15134 non-null  object
 4   releaseYear         15134 non-null  int32
 5   imdbId              15134 non-null  object
 6   imdbAverageRating   15134 non-null  float64
 7   imdbNumVotes        15134 non-null  int32
 8   availableCountries  15134 non-null  object
dtypes: float64(1), int32(2), object(6)
memory usage: 1.0+ MB

# Convert From Object to String

In [24]:
def convert_to_string(df,columns_object):
    for i in columns_object:
        df[i] = df[i].astype(str)
    return df
columns_object = ['url','title','type','genres','imdbId','availableCountries']

In [25]:
df_cleaned = convert_to_string(df_cleaned,columns_object)

In [67]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6697 entries, 0 to 15839
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   url                 6697 non-null   object
 1   title               6697 non-null   object
 2   type                6697 non-null   object
 3   genres              6697 non-null   object
 4   releaseYear         6697 non-null   int32
 5   imdbId              6697 non-null   object
 6   imdbAverageRating   6697 non-null   float64
 7   imdbNumVotes        6697 non-null   int32
 8   availableCountries  6697 non-null   object
dtypes: float64(1), int32(2), object(6)
memory usage: 470.9+ KB

In [26]:
df_cleaned['type'] = df_cleaned['type'].str.title()

In [69]:
df_cleaned

,url,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,https://www.netflix.com/title/60000724,Forrest Gump,Movie,"Drama, Romance",1994,tt0109830,8.8,2313221,MX
1,https://www.netflix.com/title/1154386,The Fifth Element,Movie,"Action, Adventure, Sci-Fi",1997,tt0119116,7.6,516523,"AT, CH, DE"
2,https://www.netflix.com/title/60031236,Kill Bill: Vol. 1,Movie,"Action, Crime, Thriller",2003,tt0266697,8.2,1220488,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
3,https://www.netflix.com/title/70021659,Jarhead,Movie,"Biography, Drama, War",2005,tt0418763,7.0,211314,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BE, BG..."
4,https://www.netflix.com/title/1080395,Unforgiven,Movie,"Drama, Western",1992,tt0105695,8.2,443310,"AU, BA, BE, BG, CZ, HR, HU, MD, ME, MK, NZ, PL..."
...,...,...,...,...,...,...,...,...,...
15791,https://www.netflix.com/title/81665508,Terror Tuesday: Extreme,Tv,"Drama, Horror, Thriller",2024,tt31158586,5.8,654,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
15798,https://www.netflix.com/title/81738996,Romance in the House,Tv,"Drama, Romance",2024,tt32889672,6.8,726,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
15821,https://www.netflix.com/title/81659092,The Accident,Tv,"Drama, Thriller",2024,tt30068042,5.7,2537,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
15837,https://www.netflix.com/title/81687655,Envious,Tv,"Comedy, Drama, Romance",2024,tt29494111,6.9,984,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
15839,https://www.netflix.com/title/81609333,What's Next: The Future with Bill Gates,Tv,Documentary,2024,tt33184626,5.9,773,"AD, AE, AL, AO, AR, AT, AU, AZ, BA, BB, BE, BG..."

In [27]:
# Sort Values By imdbavgrating desc

In [28]:
df_cleaned = df_cleaned.sort_values(by=['imdbAverageRating'], ascending=False)

In [72]:
df_cleaned

,url,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
11283,https://www.netflix.com/title/70143836,Breaking Bad,Tv,"Crime, Drama, Thriller",2008,tt0903747,9.5,2224564,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BE, BG..."
11256,https://www.netflix.com/title/70142405,Avatar: The Last Airbender,Tv,"Action, Adventure, Animation",2005,tt0417299,9.3,387548,"AD, AE, AG, AO, AR, AT, AU, BB, BE, BH, BM, BO..."
71,https://www.netflix.com/title/70005379,The Shawshank Redemption,Movie,Drama,1994,tt0111161,9.3,2956023,"AD, BA, BE, BG, CA, CV, CZ, ES, GQ, HR, HU, IN..."
12842,https://www.netflix.com/title/80049832,Our Planet,Tv,Documentary,2019,tt9253866,9.2,53094,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
11293,https://www.netflix.com/title/70299043,Attack on Titan,Tv,"Action, Adventure, Animation",2013,tt2560140,9.1,553831,"ES, FR, GF, HK, ID, IT, JP, KR, MY, PF, PH, PT..."
...,...,...,...,...,...,...,...,...,...
14084,https://www.netflix.com/title/81074666,Ridley Jones,Tv,"Adventure, Animation, Comedy",2021,tt13351440,2.0,1442,"AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE..."
8449,https://www.netflix.com/title/80202605,Hajwala: The Missing Engine,Movie,"Action, Adventure, Crime",2016,tt6200274,2.0,282,HR
1241,https://www.netflix.com/title/70100567,Disaster Movie,Movie,"Comedy, Sci-Fi",2008,tt1213644,1.9,95344,TR
4881,https://www.netflix.com/title/70254349,Himmatwala,Movie,"Action, Comedy, Drama",2013,tt2344678,1.8,9389,"AE, AR, AT, BO, BR, CO, CR, DZ, EG, FI, GR, HR..."
15274,https://www.netflix.com/title/81230204,Queen Cleopatra,Tv,"Documentary, Drama, History",2023,tt27528139,1.2,86303,"AD, AE, AL, AO, AR, AT, AU, AZ, BA, BB, BE, BG..."

In [29]:
len(df_cleaned)

15134